HELP.md
# 既存のエントリをコメントアウトまたは削除
/target/
**/target/
# 特定の JAR ファイルを追跡するように追加
# !target/*.jar
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.class
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.json

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
